{% extends 'base.html' %}
{% load static %}

{% block content %}

<main>

    <!-- breadcrumb-area-start -->
    <div class="tp-breadcrumb__area p-relative fix tp-breadcrumb-height" data-background="{% static 'assets/img/breadcrumb/breadcrumb-bg.jpg' %}">
        <div class="tp-breadcrumb__shape-1 z-index-5">
            <img src="{% static 'assets/img/breadcrumb/breadcrumb-shape-1.png' %}" alt="">
        </div>
        <div class="tp-breadcrumb__shape-2 z-index-5">
            <img src="{% static 'assets/img/breadcrumb/breadcrumb-shape-2.png' %}" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="tp-breadcrumb__content z-index-5">
                        <div class="tp-breadcrumb__list">
                           <span><a href="index-2.html">Главная</a></span>
                           <span class="dvdr"><i class="fa-sharp fa-solid fa-slash-forward"></i></span>
                           <span>Заявки</span>
                        </div>
                        <h3 class="tp-breadcrumb__title">Заявки</h3>
                     </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area-end -->


    <!-- donate-area-end -->

    <div class="tp-donate-2__area pt-115 pb-75">
        <div class="container">
            <div class="row gx-50">
                {% for donate in object_list %}
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-40 wow tpfadeUp" data-wow-duration=".9s" data-wow-delay=".3s">
                    <div class="tp-donate-2__item">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="tp-donate-2__thumb">
                                    <img width="200" height="150" src="{{ donate.image.url }}" alt="">
                                    <div class="tp-donate-2__thumb-text">
                                    <a href="{% url 'feedback_detail' donate.id %}"></i>{{ donate.target }}</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="tp-donate-2__content">
                                    <div class="tp-donate-2__text">
                                        <a href="{% url 'feedback_detail' donate.id %}">
                                            <h5 class="tp-donate-2__title">{{ donate.target_name }}</h5>

                                        </a>
                                        <p>{{ donate.target_description }}</p>

                                    </div>
                                    <div class="tp-donate-2-progress">
                                        <div class="tp-donate-2-progress-item fix">
                                            <span class="progress-count">42%</span>
                                            <div class="progress">
                                                <div class="progress-bar wow slideInLeft" data-wow-duration="1s"
                                                    data-wow-delay=".3s" role="progressbar" data-width="42%"
                                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                                    style="width: 58%; visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: slideInLeft;">
                                                </div>
                                            </div>
                                            <div class="progress-goals">
                                                <span>Собрано <b> 4,407</b></span>
                                                <span>Цель <b> {{ donate.cash_need }}</b></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tp-donate-2__button">
                                        <a class="tp-grey-btn" href="{% url 'feedback_detail' donate.id %}">Подробнее</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="basic-pagination text-center pt-30">
                        <nav>
                           <ul>
                              <li>
                                 <a href="{% url 'feedback_detail' 1 %}">1</a>
                              </li>
                              <li>
                                 <a href="{% url 'feedback_detail' 2 %}">2</a>
                              </li>
                              <li>
                                 <a href="{% url 'feedback_detail' 3 %}">3</a>
                              </li>
                              <li>
                                 <a href="donation-details.html">
                                    <span class="current"><i class="flaticon-arrow-right"></i></span>
                                 </a>
                              </li>
                           </ul>
                        </nav>
                     </div>
                </div>
            </div>
        </div>
    </div>
    <!-- donate-area-end -->


</main>

{% endblock content %}

