{% extends 'base.html' %}
{% load static %}

{% block content %}

<main>

    <!-- breadcrumb-area-start -->
    <div class="tp-breadcrumb__area p-relative fix tp-breadcrumb-height" data-background="{% static 'assets/img/breadcrumb/breadcrumb-bg.jpg' %}">
        <div class="tp-breadcrumb__shape-1 z-index-5">
            <img src="{% static 'assets/img/breadcrumb/breadcrumb-shape-1.png' %}" alt="">
        </div>
        <div class="tp-breadcrumb__shape-2 z-index-5">
            <img src="{% static 'assets/img/breadcrumb/breadcrumb-shape-2.png' %}" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="tp-breadcrumb__content z-index-5">
                        <div class="tp-breadcrumb__list">
                           <span><a href="index-2.html">home</a></span>
                           <span class="dvdr"><i class="fa-sharp fa-solid fa-slash-forward"></i></span>
                           <span>Donations</span>
                        </div>
                        <h3 class="tp-breadcrumb__title">Donations</h3>
                     </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area-end -->


    <!-- donate-area-end -->
    <div class="tp-donate-2__area pt-115 pb-75">
        <div class="container">
            <div class="row gx-50">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-40 wow tpfadeUp" data-wow-duration=".9s" data-wow-delay=".3s">
                    <div class="tp-donate-2__item">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="tp-donate-2__thumb">
                                    <img src="{% static 'assets/img/donate/donate-2-1.png' %}" alt="">
                                    <div class="tp-donate-2__thumb-text">
                                    <a href="donation-details.html"><i class="flaticon-tag"></i>EDUCATION</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="tp-donate-2__content">
                                    <div class="tp-donate-2__text">
                                        <a href="donation-details.html">
                                            <h5 class="tp-donate-2__title">Care charity names its new chief</h5>
                                        </a>
                                        <p>Under his leadership, we believe <br> strengthen our position</p>
                                    </div>
                                    <div class="tp-donate-2-progress">
                                        <div class="tp-donate-2-progress-item fix">
                                            <span class="progress-count">42%</span>
                                            <div class="progress">
                                                <div class="progress-bar wow slideInLeft" data-wow-duration="1s"
                                                    data-wow-delay=".3s" role="progressbar" data-width="42%"
                                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                                    style="width: 58%; visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: slideInLeft;">
                                                </div>
                                            </div>
                                            <div class="progress-goals">
                                                <span>Raised <b> $4,407</b></span>
                                                <span>Goal <b> $10.000</b></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tp-donate-2__button">
                                        <a class="tp-grey-btn" href="donation-sidebar.html">Donate Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-40 wow tpfadeUp" data-wow-duration=".9s" data-wow-delay=".3s">
                    <div class="tp-donate-2__item">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="tp-donate-2__thumb">
                                    <img src="{% static 'assets/img/donate/donate-2-2.png' %}" alt="">
                                    <div class="tp-donate-2__thumb-text">
                                    <a href="donation-details.html"><i class="flaticon-tag"></i>SHELTER</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="tp-donate-2__content">
                                    <div class="tp-donate-2__text">
                                        <a href="donation-details.html">
                                            <h5 class="tp-donate-2__title">People we support genuinely have </h5>
                                        </a>
                                        <p>Under his leadership, we believe <br> strengthen our position</p>
                                    </div>
                                    <div class="tp-donate-2-progress">
                                        <div class="tp-donate-2-progress-item fix">
                                            <span class="progress-count">92%</span>
                                            <div class="progress">
                                                <div class="progress-bar wow slideInLeft" data-wow-duration="1s"
                                                    data-wow-delay=".3s" role="progressbar" data-width="92%"
                                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                                    style="width: 58%; visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: slideInLeft;">
                                                </div>
                                            </div>
                                            <div class="progress-goals">
                                                <span>Raised <b> $4,407</b></span>
                                                <span>Goal <b> $10.000</b></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tp-donate-2__button">
                                        <a class="tp-grey-btn" href="donation-sidebar.html">Donate Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-40 wow tpfadeUp" data-wow-duration=".9s" data-wow-delay=".3s">
                    <div class="tp-donate-2__item">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="tp-donate-2__thumb">
                                    <img src="{% static 'assets/img/donate/donate-2-3.png' %}" alt="">
                                    <div class="tp-donate-2__thumb-text">
                                    <a href="donation-details.html"><i class="flaticon-tag"></i>HEALTH</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="tp-donate-2__content">
                                    <div class="tp-donate-2__text">
                                        <a href="donation-details.html">
                                            <h5 class="tp-donate-2__title">Your mission is the same as ours</h5>
                                        </a>
                                        <p>Under his leadership, we believe <br> strengthen our position</p>
                                    </div>
                                    <div class="tp-donate-2-progress">
                                        <div class="tp-donate-2-progress-item fix">
                                            <span class="progress-count">58%</span>
                                            <div class="progress">
                                                <div class="progress-bar wow slideInLeft" data-wow-duration="1s"
                                                    data-wow-delay=".3s" role="progressbar" data-width="58%"
                                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                                    style="width: 58%; visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: slideInLeft;">
                                                </div>
                                            </div>
                                            <div class="progress-goals">
                                                <span>Raised <b> $4,407</b></span>
                                                <span>Goal <b> $10.000</b></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tp-donate-2__button">
                                        <a class="tp-grey-btn" href="donation-sidebar.html">Donate Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-40 wow tpfadeUp" data-wow-duration=".9s" data-wow-delay=".3s">
                    <div class="tp-donate-2__item">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="tp-donate-2__thumb">
                                    <img src="{% static 'assets/img/donate/donate-2-4.png' %}" alt="">
                                    <div class="tp-donate-2__thumb-text">
                                    <a href="donation-details.html"><i class="flaticon-tag"></i>CHARITY</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="tp-donate-2__content">
                                    <div class="tp-donate-2__text">
                                        <a href="donation-details.html">
                                            <h5 class="tp-donate-2__title">Fundraising results have reached</h5>
                                        </a>
                                        <p>Under his leadership, we believe <br> strengthen our position</p>
                                    </div>
                                    <div class="tp-donate-2-progress">
                                        <div class="tp-donate-2-progress-item fix">
                                            <span class="progress-count">78%</span>
                                            <div class="progress">
                                                <div class="progress-bar wow slideInLeft" data-wow-duration="1s"
                                                    data-wow-delay=".3s" role="progressbar" data-width="78%"
                                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                                    style="width: 58%; visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: slideInLeft;">
                                                </div>
                                            </div>
                                            <div class="progress-goals">
                                                <span>Raised <b> $4,407</b></span>
                                                <span>Goal <b> $10.000</b></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tp-donate-2__button">
                                        <a class="tp-grey-btn" href="donation-sidebar.html">Donate Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-40 wow tpfadeUp" data-wow-duration=".9s" data-wow-delay=".3s">
                    <div class="tp-donate-2__item">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="tp-donate-2__thumb">
                                    <img src="{% static 'assets/img/donate/donate-2-5.png' %}" alt="">
                                    <div class="tp-donate-2__thumb-text">
                                    <a href="donation-details.html"><i class="flaticon-tag"></i>CHARITY</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="tp-donate-2__content">
                                    <div class="tp-donate-2__text">
                                        <a href="donation-details.html">
                                            <h5 class="tp-donate-2__title">Your mission is the same as ours</h5>
                                        </a>
                                        <p>Under his leadership, we believe <br> strengthen our position</p>
                                    </div>
                                    <div class="tp-donate-2-progress">
                                        <div class="tp-donate-2-progress-item fix">
                                            <span class="progress-count">78%</span>
                                            <div class="progress">
                                                <div class="progress-bar wow slideInLeft" data-wow-duration="1s"
                                                    data-wow-delay=".3s" role="progressbar" data-width="78%"
                                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                                    style="width: 58%; visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: slideInLeft;">
                                                </div>
                                            </div>
                                            <div class="progress-goals">
                                                <span>Raised <b> $4,407</b></span>
                                                <span>Goal <b> $10.000</b></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tp-donate-2__button">
                                        <a class="tp-grey-btn" href="donation-sidebar.html">Donate Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-40 wow tpfadeUp" data-wow-duration=".9s" data-wow-delay=".3s">
                    <div class="tp-donate-2__item">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="tp-donate-2__thumb">
                                    <img src="{% static 'assets/img/donate/donate-1-3.png' %}" alt="">
                                    <div class="tp-donate-2__thumb-text">
                                    <a href="donation-details.html"><i class="flaticon-tag"></i>CHARITY</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="tp-donate-2__content">
                                    <div class="tp-donate-2__text">
                                        <a href="donation-details.html">
                                            <h5 class="tp-donate-2__title">Fundraising results have reached</h5>
                                        </a>
                                        <p>Under his leadership, we believe <br> strengthen our position</p>
                                    </div>
                                    <div class="tp-donate-2-progress">
                                        <div class="tp-donate-2-progress-item fix">
                                            <span class="progress-count">78%</span>
                                            <div class="progress">
                                                <div class="progress-bar wow slideInLeft" data-wow-duration="1s"
                                                    data-wow-delay=".3s" role="progressbar" data-width="78%"
                                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                                    style="width: 58%; visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: slideInLeft;">
                                                </div>
                                            </div>
                                            <div class="progress-goals">
                                                <span>Raised <b> $4,407</b></span>
                                                <span>Goal <b> $10.000</b></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tp-donate-2__button">
                                        <a class="tp-grey-btn" href="donation-sidebar.html">Donate Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="basic-pagination text-center pt-30">
                        <nav>
                           <ul>
                              <li>
                                 <a href="donation-details.html">1</a>
                              </li>
                              <li>
                                 <a href="donation-details.html">2</a>
                              </li>
                              <li>
                                 <a href="donation-details.html">3</a>
                              </li>
                              <li>
                                 <a href="donation-details.html">
                                    <span class="current"><i class="flaticon-arrow-right"></i></span>
                                 </a>
                              </li>
                           </ul>
                        </nav>
                     </div>
                </div>
            </div>
        </div>
    </div>
    <!-- donate-area-end -->


</main>

{% endblock content %}

