{% extends 'base.html' %}
{% load static %}

{% block content %}

<main>

   <div class="tp-breadcrumb__area p-relative fix tp-breadcrumb-height" data-background="{% static 'assets/img/breadcrumb/breadcrumb-bg.jpg' %}">
      <div class="tp-breadcrumb__shape-1 z-index-5">
          <img src="{% static 'assets/img/breadcrumb/breadcrumb-shape-1.png' %}" alt="">
      </div>
      <div class="tp-breadcrumb__shape-2 z-index-5">
          <img src="{% static 'assets/img/breadcrumb/breadcrumb-shape-2.png' %}" alt="">
      </div>
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="tp-breadcrumb__content z-index-5">
                      <div class="tp-breadcrumb__list">
                         <span><a href="index-2.html">домой</a></span>
                         <span class="dvdr"><i class="fa-sharp fa-solid fa-slash-forward"></i></span>
                         <span>Подробности блога</span>
                      </div>
                      <h3 class="tp-breadcrumb__title">Подробности блога</h3>
                   </div>
              </div>
          </div>
      </div>
  </div>
  <!-- breadcrumb-area-end -->


  <!-- postbox area start -->
  <section class="postbox__area pt-120 pb-80">
    <div class="container">
       <div class="row">
         <div class="col-xxl-8 col-xl-8 col-lg-8">
            <div class="postbox__wrapper">
               <article class="postbox__item format-image mb-50 transition-3">
                  <div class="postbox__thumb p-relative m-img">
                     <div class="postbox__thumb-text d-none d-md-block">
                        <span>08 Апреля</span>
                     </div>
                     <img src="{% static 'assets/img/blog/blog-details-1-1.jpg' %}" alt="">
                  </div>
                  <div class="postbox__content">
                     <div class="postbox__meta">
                        <span><i class="flaticon-user"></i>От Heart in everything</span>
                        <span><a href="#"><i class="flaticon-tag"></i>Приют</a></span>
                        <span><a href="#"><i class="flaticon-comment"></i>3 Комментария</a></span>
                     </div>
                     <h3 class="postbox__title">Помогите сделать чью-то жизнь легче</h3>
                     <div class="postbox__text">
                        <div class="postbox__blockquote p-relative">
                           <div class="postbox__blockquote-shape">
                              <img src="{% static 'assets/img/blog/quote.png' %}" alt="">
                           </div>
                           <blockquote>
                              <p>Новый общий язык будет более простым и регулярным, чем существующие европейские языки. Он будет таким же...</p>
                              <cite>Иван Иванович</cite>
                           </blockquote>
                        </div>
                        <div class="postbox__list">
                           <h3 class="postbox__list-title">Позвольте нашей команде управлять инвестициями</h3>
                           <div class="row align-items-center">
                              <div class="col-xl-7 col-lg-6 col-md-6">
                                 <div class="postbox__list-content">
                                    <ul>
                                       <li>
                                          <span>
                                             <i class="flaticon-check-mark-black-outline"></i>
                                          </span>
                                          Процедура работы с инвестиционными проектами
                                       </li>
                                       <li>
                                          <span>
                                             <i class="flaticon-check-mark-black-outline"></i>
                                          </span>
                                          Оценка эффективности инвестиционных проектов
                                       </li>
                                       <li>
                                          <span>
                                             <i class="flaticon-check-mark-black-outline"></i>
                                          </span>
                                          Риски инвест-проекта
                                       </li>
                                       <li>
                                          <span>
                                             <i class="flaticon-check-mark-black-outline"></i>
                                          </span>
                                          Рентабельность инвестиций
                                       </li>
                                       <li>
                                          <span>
                                             <i class="flaticon-check-mark-black-outline"></i>
                                          </span>
                                          Оценка земли и зданий, принадлежащих компании
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                              <div class="col-xl-5 col-lg-6 col-md-6">
                                 <div class="posbox__list-img">
                                    <img src="{% static 'assets/img/blog/blog-details-1-2.jpg' %}" alt="">
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="postbox__thumb m-img p-relative">

                           <div class="postbox__details-share-wrapper">
                              <div class="row">
                                 <div class="col-xl-5 col-lg-6 col-md-6">
                                    <div class="postbox__details-tag tagcloud">
                                       <span>Тег:</span>
                                       <a href="#">Детское образование</a>
                                       <a href="#">Еда</a>
                                    </div>
                                 </div>
                                 <div class="col-xl-7 col-lg-6 col-md-6">
                                    <div class="postbox__details-share text-lg-end">
                                       <span>Поделиться:</span>
                                       <a href="#"><i class="fa-brands fa-youtube"></i></a>
                                       <a href="#"><i class="fab fa-facebook-f"></i></a>
                                       <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                       <a href="#"><i class="fab fa-twitter"></i></a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </article>
               <div class="postbox__comment mb-50">
                  <h3 class="postbox__comment-title">03 Комментария</h3>
                  <ul>
                     <li>
                        <div class="postbox__comment-box p-relative">
                           <div class="postbox__comment-info d-flex align-items-center">
                              <div class="postbox__comment-avater mr-40">
                                 <img src="{% static 'assets/img/blog/author-1-1.png' %}" alt="">
                              </div>
                              <div class="postbox__comment-name p-relative">
                                 <h5>Макс Барских

                                    </h5>
                                 <div class="postbox__comment-text">
                                    <p>Привет, ты как всегда очаровательна в этом</p>
                                    <div class="postbox__comment-reply">
                                       <a href="#"><i class="flaticon-right-arrow-1"></i>Ответить</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                     <li class="children">
                        <div class="postbox__comment-box p-relative">
                           <div class="postbox__comment-info d-flex align-items-center">
                              <div class="postbox__comment-avater mr-40">
                                 <img src="{% static 'assets/img/blog/author-1-2.png' %}" alt="">
                              </div>
                              <div class="postbox__comment-name p-relative">
                                 <h5>Лиза Галкина</h5>
                                 <div class="postbox__comment-text">
                                    <p>Я не могу поверить, как я нашел тебя, это так красиво</p>
                                    <div class="postbox__comment-reply">
                                       <a href="#"><i class="flaticon-right-arrow-1"></i>Ответить</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                     <li>
                        <div class="postbox__comment-box p-relative">
                           <div class="postbox__comment-info d-flex align-items-center">
                              <div class="postbox__comment-avater mr-40">
                                 <img src="{% static 'assets/img/blog/author-1-3.png' %}" alt="">
                              </div>
                              <div class="postbox__comment-name p-relative">
                                 <h5>Макс Корж</h5>
                                 <div class="postbox__comment-text">
                                    <p>Вы меня удивляете!</p>
                                    <div class="postbox__comment-reply">
                                       <a href="#"><i class="flaticon-right-arrow-1"></i>Ответить</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
               <div class="postbox__comment-form-box">
                  <h3 class="postbox__comment-form-title">Написать комментарий</h3>
                  <div class="postbox__comment-form">
                     <form id="contact-form" action="#">
                        <div class="row">
                           <div class="col-xxl-6 col-xl-6 col-lg-6">
                              <div class="postbox__comment-input">
                                 <input name="name" type="text" placeholder="ваше имя">
                              </div>
                           </div>
                           <div class="col-xxl-6 col-xl-6 col-lg-6">
                              <div class="postbox__comment-input">
                                 <input name="email" type="email" placeholder="ваша почта">
                              </div>
                           </div>
                           <div class="col-xxl-12">
                              <div class="postbox__comment-input">
                                 <textarea name="comment" placeholder="ваш комментарий"></textarea>
                              </div>
                           </div>
                           <div class="col-xxl-12">
                              <div class="postbox__comment-btn">
                                 <button class="theme-btn" type="submit">Отправить комментарий</button>
                              </div>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         {% comment %} #################################################### {% endcomment %}
         <div class="col-xxl-4 col-xl-4 col-lg-4">
            <div class="sidebar__wrapper">
               <div class="sidebar__widget sidebar__widget-theme-bg mb-30">
                  <div class="sidebar__widget-content">
                     <div class="sidebar__search">
                        <form action="#">
                           <div class="sidebar__search-input-2">
                              <input type="text" placeholder="Поиск">
                              <button type="submit"><i class="far fa-search"></i></button>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
               <div class="sidebar__widget mb-30">
                  <h3 class="sidebar__widget-title">Наши последние записи</h3>
                  <div class="sidebar__widget-content">
                     <div class="sidebar__post">
                        <div class="rc__post mb-10 d-flex align-items-center">
                           <div class="rc__post-thumb mr-20">
                              <a href="blog-details.html"><img src="{% static 'assets/img/blog/blog-details-sm-1-2.jpg' %}" alt=""></a>
                           </div>
                           <div class="rc__post-content">
                              <div class="rc__meta">
                                 <span><i class="flaticon-comment"></i>
                                   02 Комментария</span>
                              </div>
                              <h3 class="rc__post-title">
                                 <a href="blog-details.html">Мы должны пожертвовать для бедных людей Индии</a>
                              </h3>
                           </div>
                        </div>
                        <div class="rc__post mb-10 d-flex align-items-center">
                           <div class="rc__post-thumb mr-20">
                              <a href="blog-details.html"><img src="{% static 'assets/img/blog/blog-details-sm-1-1.jpg' %}" alt=""></a>
                           </div>
                           <div class="rc__post-content">
                              <div class="rc__meta">
                                 <span><i class="flaticon-comment"></i>
                                   02 Комментария</span>
                              </div>
                              <h3 class="rc__post-title">
                                 <a href="blog-details.html">Быстрое сбор средств для детей Африки</a>
                              </h3>
                           </div>
                        </div>
                        <div class="rc__post d-flex align-items-center">
                           <div class="rc__post-thumb mr-20">
                              <a href="blog-details.html"><img src="{% static 'assets/img/blog/blog-details-sm-1-3.jpg' %}" alt=""></a>
                           </div>
                           <div class="rc__post-content">
                              <div class="rc__meta">
                                 <span><i class="flaticon-comment"></i>
                                   02 Комментария</span>
                              </div>
                              <h3 class="rc__post-title">
                                 <a href="blog-details.html">Привлеките людей для поднятия рук</a>
                              </h3>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="sidebar__widget mb-30">
                  <h3 class="sidebar__widget-title">Категория</h3>
                  <div class="sidebar__widget-content">
                     <ul>
                        <li><a href="blog.html">Пожертвование<span><i class="flaticon-arrow-right"></i></span></a></li>
                        <li><a href="blog.html">Благотворительность<span><i class="flaticon-arrow-right"></i></span></a></li>
                        <li><a href="blog.html">Помощь бедным<span><i class="flaticon-arrow-right"></i></span></a></li>
                        <li><a href="blog.html">Детское образование<span><i class="flaticon-arrow-right"></i></span></a></li>
                        <li><a href="blog.html">Здоровое питание<span><i class="flaticon-arrow-right"></i></span></a></li>
                        <li><a href="blog.html">Убежище<span><i class="flaticon-arrow-right"></i></span></a></li>
                     </ul>
                  </div>
               </div>
               <div class="sidebar__widget mb-30">
                  <h3 class="sidebar__widget-title">Теги</h3>
                  <div class="sidebar__widget-content">
                     <div class="tagcloud">
                        <a href="#">Сбор средств</a>
                        <a href="#">Благотворительность</a>
                        <a href="#">детское образование</a>
                        <a href="#">Еда</a>
                        <a href="#">Вода</a>
                        <a href="#">Здоровье</a>
                        <a href="#">дети</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
       </div>
    </div>
 </section>
 <!-- postbox area end -->


</main>

{% endblock content %}

