{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
        <!-- breadcrumb-area-start -->
        <div class="tp-breadcrumb__area p-relative fix tp-breadcrumb-height" data-background="{% static 'assets/img/breadcrumb/breadcrumb-bg.jpg' %}">
            <div class="tp-breadcrumb__shape-1 z-index-5">
                <img src="{% static 'assets/img/breadcrumb/breadcrumb-shape-1.png' %}" alt="">
            </div>
            <div class="tp-breadcrumb__shape-2 z-index-5">
                <img src="{% static 'assets/img/breadcrumb/breadcrumb-shape-2.png' %}" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="tp-breadcrumb__content z-index-5">
                            <div class="tp-breadcrumb__list">
                               <span><a href="index-2.html">home</a></span>
                               <span class="dvdr"><i class="fa-sharp fa-solid fa-slash-forward"></i></span>
                               <span>Login Page</span>
                            </div>
                            <h3 class="tp-breadcrumb__title">Login Page</h3>
                         </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb-area-end -->

         <!-- login area start -->
         <section class="tp-login-area pt-120 pb-120 p-relative z-index-1 fix tp-login-full__custom">
            <div class="container">
               <div class="row justify-content-center">
                  <div class="col-xl-7 col-lg-8 tp-login-area__custom">
                     <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="tp-login-input-wrapper">
                    <div class="tp-login-input-box">
                        {{ field.label_tag }}
                        <div class="tp-login-input tp-login-input__border">
                            {{ field }}
                        </div>
                        <div class="invalid-feedback" style="display: block;">
                            {{ field.errors }}
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="tp-login-forgot-password text-center mt-20 mb-20">
                    <a href="#" class="btn btn-primary btn-block" style="color: white">Forgot Password?</a>
                </div>
                    <button type="submit" class="btn btn-primary btn-block submit-button" style="float:right; margin-bottom:1rem;">Log In</button>
                    </form>
                        </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
         </section>
         <!-- login area end -->

    </main>
    <script>
        const form = document.querySelector('form');
        form.addEventListener('submit', function(event) {
            event.preventDefault();});
        </script>
{% endblock content %}