{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
        <!-- breadcrumb-area-start -->
        <div class="tp-breadcrumb__area p-relative fix tp-breadcrumb-height" data-background="{% static 'assets/img/breadcrumb/breadcrumb-bg.jpg' %}">
            <div class="tp-breadcrumb__shape-1 z-index-5">
                <img src="{% static 'assets/img/breadcrumb/breadcrumb-shape-1.png' %}" alt="">
            </div>
            <div class="tp-breadcrumb__shape-2 z-index-5">
                <img src="{% static 'assets/img/breadcrumb/breadcrumb-shape-2.png' %}" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="tp-breadcrumb__content z-index-5">
                            <div class="tp-breadcrumb__list">
                               <span><a href="index-2.html">home</a></span>
                               <span class="dvdr"><i class="fa-sharp fa-solid fa-slash-forward"></i></span>
                               <span>Login Page</span>
                            </div>
                            <h3 class="tp-breadcrumb__title">Login Page</h3>
                         </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb-area-end -->

         <!-- login area start -->
         <section class="tp-login-area pt-120 pb-120 p-relative z-index-1 fix">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8">
                    <div class="tp-login-wrapper">
                        <div class="tp-login-top text-center mb-30">
                            <h3 class="tp-login-title">Login</h3>
                        </div>
                        <div class="tp-login-option">


                            <form method="POST" action=".">
                                {% csrf_token %}
                                <div class="tp-login-input-wrapper">
                                    <div class="tp-login-input-box">
                                        <div class="tp-login-input">
                                            {{ form.username }}
                                        </div>
                                    </div>
                                    <div class="tp-login-input-box">
                                        <div class="tp-login-input">
                                            {{ form.password }}
                                        </div>
                                        <div class="tp-login-input-eye" id="password-show-toggle">
                                            <span id="open-eye" class="open-eye">
                                                <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <!-- Eye SVG code here -->
                                                </svg>
                                            </span>
                                            <span id="close-eye" class="open-close">
                                                <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <!-- Closed eye SVG code here -->
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="tp-login-suggetions d-sm-flex align-items-center justify-content-between mb-20">

                                    <div class="tp-login-forgot">
                                        <a href="{% url 'register' %}">Нет аккаунта?</a>

                                    </div>
                                </div>
                                <div class="tp-login-bottom">
                                    <button type="submit" class="tp-login-btn">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

         <!-- login area end -->

    </main>
    <script>
        const form = document.querySelector('form');
        form.addEventListener('submit', function(event) {
            event.preventDefault();});
        </script>
{% endblock content %}