{% extends 'base.html' %}
{% load static %}

{% block content %}

<main>

        <!-- breadcrumb-area-start -->
        <div class="tp-breadcrumb__area p-relative fix tp-breadcrumb-height" data-background="{% static 'assets/img/breadcrumb/breadcrumb-bg.jpg' %}">
            <div class="tp-breadcrumb__shape-1 z-index-5">
                <img src="{% static 'assets/img/breadcrumb/breadcrumb-shape-1.png' %}" alt="">
            </div>
            <div class="tp-breadcrumb__shape-2 z-index-5">
                <img src="{% static 'assets/img/breadcrumb/breadcrumb-shape-2.png' %}" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="tp-breadcrumb__content z-index-5">
                            <h3 class="tp-breadcrumb__title">{{feedback.target_name}}</h3>
                         </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb-area-end -->


        <!-- event-area-atart -->
        <div class="tp-event-details__area pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8">
                        <div class="tp-event-details__left-box">
                            <div class="tp-event-details__thumb p-relative pb-25">                   
                                <img src={{feedback.image.url}} width="600" height="450" style="object-fit:cover" alt="">
                                <div class="tp-event-details__thumb-text d-none d-md-block">
                                    <span>{{feedback.date_of_issue}}</span>
                                </div>
                            </div>
                            <h4 class="tp-event-details__title">{{feedback.target_name}} </h4>
                            <div class="tp-event-details__text pb-25">                   
                                <p>{{feedback.target_description}}</p>
                            </div>
                            <h4 class="tp-event-details__title mb-45">Помогать это круто! </h4>
                            <div class="tp-event-details__item-box d-flex justify-content-between">
                                <div class="tp-event-details__item d-flex align-items-start">
                                    <div class="tp-event-details__icon">
                                        <span><i class="flaticon-home-1"></i></span>
                                    </div>
                                    <div class="tp-event-details__item-text">
                                        <h5 class="tp-event-details__title-sm">Строительство</h5>
                                        <span>Curabitur luctus euismod metus, eu <br> pellentesque ma Proin posuere id <br>lacus auctor, elementum</span>
                                    </div>
                                </div>
                                <div class="tp-event-details__item d-flex align-items-start">
                                    <div class="tp-event-details__icon">
                                        <span><i class="flaticon-love"></i></span>
                                    </div>
                                    <div class="tp-event-details__item-text">
                                        <h5 class="tp-event-details__title-sm">Здоровье</h5>
                                        <span>Curabitur luctus euismod metus, eu <br> pellentesque ma Proin posuere id <br>lacus auctor, elementum</span>
                                    </div>
                                </div>
                            </div>
                            <div class="tp-event-details__item-box pb-15 d-flex justify-content-between">
                                <div class="tp-event-details__item d-flex align-items-start">
                                    <div class="tp-event-details__icon">
                                        <span><i class="flaticon-zakat"></i></span>
                                    </div>
                                    <div class="tp-event-details__item-text">
                                        <h5 class="tp-event-details__title-sm">Донат</h5>
                                        <span>Curabitur luctus euismod metus, eu <br> pellentesque ma Proin posuere id <br>lacus auctor, elementum</span>
                                    </div>
                                </div>
                                <div class="tp-event-details__item d-flex align-items-start">
                                    <div class="tp-event-details__icon">
                                        <span><i class="flaticon-people-1"></i></span>
                                    </div>
                                    <div class="tp-event-details__item-text">
                                        <h5 class="tp-event-details__title-sm">Вместе мы сможем!</h5>
                                        <span>Curabitur luctus euismod metus, eu <br> pellentesque ma Proin posuere id <br>lacus auctor, elementum</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="tp-event-details__right-box">                            
                            <div class="tp-event-details__author-info mb-30 grey-bg d-flex align-items-center">
                                <div class="tp-event-details__author-thumb">
                                    <img src="{% static 'assets/img/event/author.png' %}" alt="">
                                </div>
                                <div class="tp-event-details__author-text">
                                    <a href="#"><h5>{{feedback.user.first_name}}</h5></a>
                                    <span>{{feedback.user.phone}}</span>
                                </div>
                            </div>
                            <div class="tp-event-details__contact-box mb-30">
                                <ul>
                                    <li>
                                        <div class="tp-event-details__contact-item d-flex align-items-start">
                                            <div class="tp-event-details__contact-icon">
                                                <span><i class="flaticon-calendar"></i></span>
                                            </div>
                                            <div class="tp-event-details__contact-text">
                                                <span>Дата создания:</span>
                                                <b>{{feedback.date_of_issue}}</b>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tp-event-details__contact-item d-flex align-items-start">
                                            <div class="tp-event-details__contact-icon">
                                                <span><i class="flaticon-phone"></i></span>
                                            </div>
                                            <div class="tp-event-details__contact-text">
                                                <span>Контакты:</span>
                                                <a href="tel:+9945698743456"><b>{{feedback.phone_number}}</b></a>
                                                <a href="tel:+9945698743456"><b>{{feedback.reserve_phone_number}}</b></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tp-event-details__contact-item d-flex align-items-start">
                                            <div class="tp-event-details__contact-icon">
                                                <span><i class="flaticon-folder"></i></span>
                                            </div>
                                            <div class="tp-event-details__contact-text">
                                                <span>Категория:</span>
                                                <b>{{feedback.target}}</b>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tp-event-details__contact-item d-flex align-items-start">
                                            <div class="tp-event-details__contact-icon">
                                                <span><i class="flaticon-location"></i></span>
                                            </div>
                                            <div class="tp-event-details__contact-text">
                                                <span>Адрес:</span>
                                                <a href="#"><b>{{feedback.address}}</b></a>
                                            </div>
                                        </div></li>
                                </ul>
                            </div>
                            <div class="tp-event-details__info-box mb-30">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2920.3804612504823!2d74.56907687694468!3d42.949186207370246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389ec76a3e67baab%3A0x189fd3cfab82dc06!2z0JrQsNC70YvRgSDQntGA0LTQvg!5e0!3m2!1sru!2skg!4v1687001349460!5m2!1sru!2skg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- event-area-end -->



    </main>

{% endblock content %}