{% extends 'user/account_base.html' %}
{% load static %}
{% load verbose_name %}
{% block content %}
<div class="register-box">
  <div class="register-logo">
    <a href="."><b>Регистрация</b></a>
  </div>

  <div class="card">
    <div class="card-body register-card-body">
      <p class="login-box-msg">Зарегистрировать нового пользователя</p>

      <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="invalid-feedback" style="display: block;">
            {{ form.non_field_errors }}
        </div>
        {% for field in form %}
        {% if field.name == 'password1' or field.name == 'password2' %}
        <div class="input-group mb-3">
          {{ field }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
          <div class="invalid-feedback" style="display: block;">
            {{ field.errors }}
          </div>
        </div>
        {% elif field|field_type == 'SelectMultiple' %}
        <div class="input-group mb-3">
          {{ field }}
          <div class="invalid-feedback" style="display: block;">
            {{ field.errors }}
          </div>
        </div>
        {% elif field|field_type == 'ClearableFileInput' %}
        <div class="input-group mb-3">
            <div class="custom-file">
              {{ field }}
              <label class="custom-file-label" for="{{ field.id_for_label }}">{{ field.value|default:"Выберите файл" }}</label>
            </div>
        </div>
        {% else %}
        <div class="input-group mb-3">
          {{ field }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
          <div class="invalid-feedback" style="display: block;">
            {{ field.errors }}
          </div>
        </div>
        {% endif %}
        {% endfor %}
        <div class="row">
          <div class="col-5">
            <div class="icheck-primary">
              <a href="{% url 'login' %}" class="text-center">Авторизоваться</a>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-7">
            <button type="submit" class="btn btn-primary btn-block">Зарегистрировать</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
<!-- /.register-box -->
{% endblock %}
